.nav-bar{
  width: 15%;
  background-color: #303030;
  color: white;
  height: 100%;
  top: 50px;
  position: fixed;
}
li{
  list-style: none;
}

.bottom-content{
  margin-top: 65px;
  margin-left: 220px;
  padding-right: 20px;
}
